In [73]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [74]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [75]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [79]:
    # 1. import Flask
#from flask import Flask

    # 2. Create an app, being sure to pass __name__
#app = Flask(__name__)


        # 3. Define what to do when a user hits the index route
#@app.route("/")
#def home():
    #print("Server received request for 'Home' page...")
    #return "Welcome to my 'Home' page!"


    # 4. Define what to do when a user hits the /about route
#@app.route("/about")
#def about():
    #print("Server received request for 'About' page...")
    #return "Welcome to my 'About' page!"


#if __name__ == "__main__":
    #app.run(debug=True)

In [82]:
database_path = "Resources/hawaii.sqlite"

In [83]:
# create engine to hawaii.sqlite
engine = create_engine(f"sqlite:///Resources/hawaii.sqlite")
conn = engine.connect()

In [84]:
data = pd.read_sql("SELECT * FROM hawaii", conn)

OperationalError: (sqlite3.OperationalError) no such table: hawaii
[SQL: SELECT * FROM hawaii]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [85]:
data.head()

NameError: name 'data' is not defined

In [50]:
#data = engine.execute("SELECT * FROM hawaii")

#for record in data:
    #print(record)

In [86]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True

SyntaxError: unexpected EOF while parsing (<ipython-input-86-438b4bd8e7bc>, line 4)

In [ ]:
# View all of the classes that automap found

In [ ]:
# Save references to each table

In [ ]:
# Create our session (link) from Python to the DB

# Exploratory Precipitation Analysis

In [ ]:
# Find the most recent date in the data set.

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()